.list-container{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    max-width: 250px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.link-item {
    text-decoration: none;
}
.image-container{
    width: 80%;
    max-width: 210px;
}
.image{
    width: 100%;
    height: 200px;
    max-width: 200px;
    border-radius: 6px;
}
.details-container{
    width: 100%;
    max-width: 210px;
}
.brand-heading{
    font-size: 14px;
    font-family:sans-serif;
    font-weight: bold;
    color:darkgray;
    margin-bottom: 0;
}
.title{
    font-size: 14px;
    font-family:sans-serif;
    color:lightslategray;
    margin-bottom: 0;
}
.selling-price{
    font-size: 14px;
    font-family:sans-serif;
    color:black; 
    margin-bottom: 0;  
}
.actual-price{
    font-size: 14px;
    font-family:sans-serif;
    color:lightslategray; 
    text-decoration: line-through; 
    margin-bottom: 0;
}
.discount{
    font-size: 14px;
    font-family:sans-serif;
    color:limegreen;
    margin-bottom: 0;  
}
.rupee-icon{
    font-size: 12px;
}
.price-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
}
.rating-small{
    font-size: 14px;
    font-family:sans-serif;
    color:black;
    margin-bottom: 0px;
}